<div style="">

    <div>
        <p style="display:inline">  Account number  </p>
        <input value="">
    </div>
    <div>
        <p style="display:inline">  Bank Name  </p>
        <input value="">
    </div>
    <div>
        <p style="display:inline">  Account Holder Name  </p>
        <input value="">
    </div>
    <div>
        <p style="display:inline">  Contact Number Message for the admin  </p>
        <input value="">
    </div>

    <a class="button btnStartPayout" href="@Url.Action("sendMail", "Dashboard")">Start a payout</a>



</div>