@{
    Style.Include("storefonts.css");
}
<div>
    <div class="dashboard-section-title">
        @T("Storefronts")
        <span class="menu-closer" onclick="toggleMobileMenu()"><i class="fa fa-angle-up"></i></span>
        <span class="menu-opener" onclick="toggleMobileMenu()"><i class="fa fa-angle-down"></i></span>
    </div>
    <div class="empty_storefront">
        <img alt="Empty store" class="empty_storefront__img" src="/Media/Default/images/shop.png">
        <p class="empty_storefront__explanation">@T("Use storefronts to group related campaigns together. You'll have a single page to show customers and we'll even help you cross-promote to encourage multiple purchases!")</p>
        <a class="getstarted_btn_storefront" href="">@T("Get Started")</a> @*@Url.Action("NewStorefront")*@
    </div>
</div>