/*
This script was created by Visual Studio on 7/9/2015 at 9:38 AM.
Run this script on bqt.me\sqlexpress, 1433.teebay-dev (sa) to make it the same as .\SQL2008Dev.teebay (sa).
This script performs its actions in the following order:
1. Disable foreign-key constraints.
2. Perform DELETE commands. 
3. Perform UPDATE commands.
4. Perform INSERT commands.
5. Re-enable foreign-key constraints.
Please back up your target database before running this script.
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
/*Pointer used for text / image updates. This might not be needed, but is declared here just in case*/
DECLARE @pv binary(16)
BEGIN TRANSACTION
DELETE FROM [dbo].[Orchard_Indexing_IndexingTaskRecord] WHERE [Id]=717
UPDATE [dbo].[Common_CommonPartRecord] SET [PublishedUtc]='20150709 06:33:19.000', [ModifiedUtc]='20150709 06:33:19.000' WHERE [Id]=56
UPDATE [dbo].[Orchard_Framework_ContentItemRecord] SET [Data]=N'<Data><IdentityPart Identifier="466f984bcc6b44428378c1f8f8f7932b" /><CommonPart CreatedUtc="2015-07-03T11:55:56.5271774Z" ModifiedUtc="2015-07-09T06:33:19.0609549Z" PublishedUtc="2015-07-09T06:33:19.1649614Z" /><WidgetPart RenderTitle="false" Title="Create Search Buttons" Position="3" Zone="BeforeMain" Name="createSearchButtons" /><LayoutPart SessionKey="c8dd4c39-3da9-4a4a-bb46-3ef65befdfd8" /></Data>' WHERE [Id]=56
UPDATE [dbo].[Orchard_Framework_ContentItemVersionRecord] SET [Published]=0, [Latest]=0 WHERE [Id]=418
INSERT INTO [dbo].[Orchard_Layouts_LayoutPartRecord] ([Id], [ContentItemRecord_id], [TemplateId]) VALUES (421, 56, NULL)
SET IDENTITY_INSERT [dbo].[Orchard_Indexing_IndexingTaskRecord] ON
INSERT INTO [dbo].[Orchard_Indexing_IndexingTaskRecord] ([Id], [Action], [CreatedUtc], [ContentItemRecord_id]) VALUES (724, 0, '20150709 06:33:19.000', 56)
SET IDENTITY_INSERT [dbo].[Orchard_Indexing_IndexingTaskRecord] OFF
SET IDENTITY_INSERT [dbo].[Orchard_Framework_ContentItemVersionRecord] ON
SET IDENTITY_INSERT [dbo].[Orchard_Framework_ContentItemVersionRecord] OFF
INSERT INTO [dbo].[Common_CommonPartVersionRecord] ([Id], [ContentItemRecord_id], [CreatedUtc], [PublishedUtc], [ModifiedUtc]) VALUES (421, 56, '20150709 06:33:18.000', '20150709 06:33:19.000', '20150709 06:33:19.000')
COMMIT TRANSACTION
