<a href="@Model.Href">
    @if (Model.Text.ToString().ToLower() == T("Your Campaigns").ToString().ToLower())
    {
        <i class="fa fa-th fa-2x"></i>
    }
    @if (Model.Text.ToString().ToLower() == T("Shop").ToString().ToLower())
    {
        <i class="fa fa-shopping-cart fa-2x"></i>
    }
    @if (Model.Text.ToString().ToLower() == T("Direct Messages").ToString().ToLower())
    {
        <i class="fa fa-envelope-o fa-2x"></i>
    }
    @if (Model.Text.ToString().ToLower() == T("Marketing Campaigns").ToString().ToLower())
    {
        <i class="fa fa-tags fa-2x"></i>
    }
    @if (Model.Text.ToString().ToLower() == T("Accounts").ToString().ToLower())
    {
        <i class="fa fa-credit-card fa-2x"></i>
    }
    @if (Model.Text.ToString().ToLower() == T("Profile").ToString().ToLower())
    {
        <i class="fa fa-cogs fa-2x"></i>
    }
    <span class ="to-hide-on-click">@Model.Text</span>
</a>
