@Display(Model.Menu)
<a href="#" onclick="showMenu()" id="menu-icon"><img src="~/Themes/Teebay.Theme/Content/menu-icon_.png" /></a>

@using (Script.Foot())
{
    <script type="text/javascript">
        function showMenu() {
            var display = $('.widget-authenticatedMenu nav ul').css("display");
            if (display !== 'none') {
                $('.widget-authenticatedMenu nav ul').css("display", "none");
                $('.widget-usermenu .menu-for-user').css("display", "none");
            } else {
                $('.widget-authenticatedMenu nav ul').css("display", "block");
                $('.widget-usermenu .menu-for-user').css("display", "block");
            }
        }
    </script>
}