@model Teeyoot.WizardSettings.ViewModels.ProductIndexViewModel
@{
    Layout.Title = T("Artworks");
}

<div class="manage">
    <a class="button primaryAction" href="@Url.Action("AddArtwork", "Artwork")">@T("Add New Artwork")</a>
</div>
