.campaigns-overview-body {
    padding: 15px 20px 15px 20px;
    line-height: 40px;
}

.period-selector {
    text-align: center;
}

.overview-period {
    padding: 0 15px 0 18px;
    border-left: 1px solid #babfbf;
    font-size: 12px;
    color: #babfbf;
    cursor: pointer;
}

    .overview-period.first {
        border: 0;
    }

    .overview-period.current,
    .overview-period:hover {
        color: #e64700;
    }

.overview-for-period {
    display: none;
}

    .overview-for-period.selected {
        display: block;
    }

    .overview-for-period span {
        font-size: 26px;
        margin-right: 10px;
        color: #000;
    }

.campaigns-list-container {
    display: table;
    margin-bottom: 50px;
}

    .campaigns-list-container > div {
        padding-left: 30px;
    }

.campaign-card {
    float: left;
    min-width: 250px;
    width: 18%;
    margin: 10px 10px 25px 10px;
    height: 300px;
}
.campaign-card-image a {
    color:#fff;
    text-decoration:none;
}
.campaign-card-image {
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    min-width: 250px;
    height: 85%;
    margin-bottom: 5px;
}
.campaign-card-image:hover {
    background: rgba(41,48,51,1);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    opacity:.5;
    color:#fff;
    transition:opacity 300ms;
}
.campaign-card-image:hover .campaign-card-profit {
    background:none;
}

@media all and (max-width: 1670px) {
    .campaign-card {
        width: 23%;
    }
}

@media all and (max-width: 1390px) {
    .campaign-card {
        width: 30%;
    }

    .campaign-card-image,
    .campaign-card-image:hover {
        background-size: 70%;
    }
}

@media all and (max-width: 1120px) {
    .campaign-card {
        width: 45%;
    }

    .campaign-card-image,
    .campaign-card-image:hover {
        background-size: 65%;
    }
}

@media all and (max-width: 980px) {
    .campaign-card {
        width: 30%;
    }

    .campaign-card-image,
    .campaign-card-image:hover {
        background-size: 75%;
    }
}

@media all and (max-width: 870px) {
    .campaign-card {
        width: 45%;
    }

    .campaign-card-image,
    .campaign-card-image:hover {
        background-size: 65%;
    }
}

@media all and (max-width: 600px) {
    .campaign-card {
        width: 75%;
        margin: 0 auto;
        float: none;
        margin-bottom: 30px;
    }
    .group-control.filters {
        display:block;
    }
    .campaign-card-image,
    .campaign-card-image:hover {
        background-size: 52%;
    }

    .campaigns-list-container {
        margin-top:20px;
        display: block;
    }

        .campaigns-list-container > div {
            padding-left: 0;
        }

        .filter-dropdown-toggle,
        .filter-dropdown-menu {
            width:200px !important;
        }
         
        .campaign-status-filter {
            margin-left: 0 !important;
        }
}

@media all and (max-width: 530px) {
    .campaign-card-image,
    .campaign-card-image:hover {
        background-size: 60%;
    }

    .overview-period {
        padding: 0 8px 0 10px;
    }
}

@media all and (max-width: 450px) {
    .campaign-card-image,
    .campaign-card-image:hover {
        background-size: 70%;
    }
}

.campaign-card-progress-bar {
    background-color: #e8eced;
    height: 9px;
    border-radius: 5px;
    width: 100%;
}

.campaign-card-progress-bar-completed {
    background-color: #ff4f00;
    height: 9px;
    border-radius: 5px;
    float: left;
    max-width:100%;
}

.campaign-card-sold {
    float: left;
}

.campaign-card-left {
    float: right;
}

.campaign-card-info {
    display: table;
    width: 100%;
}

.campaign-card-title {
    line-height: 15px;
}

    .campaign-card-title a {
        text-decoration: none;
        font-weight: 600;
    }

        .campaign-card-title a:hover {
            text-decoration: none;
            color: #e64700;
        }

.campaign-card-links {
    float: right;
    margin-right:8px;
}
#campaign_list_filter {
    border:solid 1px #e8eced;
    border-radius:5px;
    margin-right:15px;
    height: 26px;
}
#campaign_list_filter:focus::-webkit-input-placeholder  {color:transparent;}
#campaign_list_filter:focus::-moz-placeholder   {color:transparent;}
#campaign_list_filter:focus:-moz-placeholder   {color:transparent;}

.campaign-card-profit {
    padding: 2px 5px;
    border-radius: 3px;
    color: #fff;
    background-color: #6c7478;
    float: left;
}
.campaign-status-filter {
    margin-left: 27px;
}
