.block {
    background: #f5f7f7;
    border-radius: 3px;
    margin-bottom: .5rem;
    width: 100%;
    width: 100%;
    height: 100%;
    float: right;
}

.tabl .row {
    background: white;
    padding-top: 15px;
    padding-left: 10px;
    margin: 0px 0px 0px 0px !important;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.divRow .row {
    width: 16%;
    height: 100%;
}

.mesTitle {
    height: 60px;
    padding-left: 1%;
    padding-right: 1%;
    height: 14%;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
}

.t-button {
    background: #ff4f00 !important;
    border-width: 0;
    font-size: 16px;
    font-weight: normal;
    border-radius: 5px;
    padding: 4% 12%;
    display: inline-block;
    color: white;
    text-align: center;
    cursor: pointer;
    letter-spacing: .025em;
    text-decoration: none;
    border: 0;
    margin: 0px 0px 0px 12% !important;
}

.button .t-button {
    background: #ff4f00 !important;
    border-width: 0;
    font-size: 16px;
    font-weight: normal;
    border-radius: 5px;
    padding: 4% 12%;
    display: inline-block;
    color: white;
    text-align: center;
    cursor: pointer;
    letter-spacing: .025em;
    text-decoration: none;
    border: 0;
}

.t-button:hover {
    background: #fc7c42 !important;
    background-color: #fc7c42 !important;
}

.t-button:active {
    background: #ff4f00 !important;
    background-color: #ff4f00 !important;
}

.tabl .row .a {
    text-decoration: none;
    color: #ff4f00;
}

.button {
    background: #ff4f00 !important;
    background-color: #fc7c42 !important;
}

    .button:hover {
        background: #ff4f00 !important;
        background-color: #fc7c42 !important;
    }

.email_inp {
    font-size: 14px;
    width: 87%;
    height: 28px;
    border-radius: 6px;
    border-color: #e8eced !important;
    border: solid;
    padding: 0px 0px 0px 4px !important;
    border-width: 1px !important;
}

.subj_inp {
    font-size: 14px;
    width: 87%;
    height: 28px;
    border-radius: 6px;
    border-color: #e8eced !important;
    border-width: 1px !important;
    border: solid;
    padding: 0px 0px 0px 4px !important;
}

.input[type=text] .email_inp {
    font-size: 14px;
    width: 87%;
    height: 28px;
    border-radius: 6px;
    border-color: #e8eced !important;
    border-width: 1px !important;
    border: solid;
    padding: 0px 0px 0px 0px !important;
}

.input[type=text] .subj_inp {
    font-size: 14px;
    width: 87%;
    height: 28px;
    border-radius: 6px;
    border-color: #e8eced !important;
    border-width: 1px !important;
    border: solid;
    padding: 0px 0px 0px 0px !important;
}

.input[type=text] .msg_inp {
    width: 306%;
    height: 400px;
    padding-bottom: 30px;
    border-radius: 6px !important;
    border-color: #e8eced !important;
    border-width: 1px !important;
    border: solid !important;
    padding: 0px 0px 0px 0px !important;
}

table > tr > td {
    padding-left: 10px !important;
}
.divRow-mobile{
    display:none!important;
}

.messages-title{
    text-align:center!important;
}
@media all and (max-width: 830px) {
    .divRow {
        text-align: center;
        display: block !important;
        width: 48% !important;
        border: none !important;
    }
    .divRow-mobile{
    display:normal;
}
    #msgBoard{
        display:none!important;
    }
    .row {
        width: 100% !important;
    }

    .tdd {
        /*display: -webkit-box !important;*/
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        /*display: flex !important;
        height: 50% !important;*/
    }

    .printDiv {
        margin-bottom: 49% !important;
    }

    .divRow .row {
        margin: 0px 0px 20px 0px !important;
    }

    .tabl .row {
        display: block;
    }

    .email_inp {
        width: 98% !important;
    }

    .subj_inp {
        width: 98% !important;
    }

    .customEmail {
        width: 93% !important;
    }

    .aEmail {
        white-space: normal !important;
    }

    .divEmail {
        width: 98% !important;
    }

    .txtArea {
        width: 97% !important;
    }

    #campUrl {
        width: 98% !important;
    }

    #campaignPrintRow {
        margin-bottom: 64% !important;
    }

    .msgCont {
        width: 97% !important;
        height: 100%;
        padding-right: 20px;
    }
}



.divRow .row {
    margin: 0px 0px 0px 0px;
}

.msgCont {
    /*width: 97% !important;*/
    width: 49%;
    height: 100%;
    padding-right: 20px;
}

.msgText {
    width: 96% !important;
    height: 400px;
    padding: 5px;
    border-radius: 6px;
    border-color: #e8eced !important;
    border-width: 1px !important;
    border: solid;
}

.send-button {
    height: 32px;
    background: #ff4f00 !important;
    border-width: 0;
    margin-left: 5px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 5px;
    padding: 4px 14px;
    display: inline-block;
    color: white;
    text-align: center;
    cursor: pointer;
    letter-spacing: .025em;
    text-decoration: none;
    border: 0;
}

.cancel-button {
    margin-top: 1px;
    background: #808080 !important;
    border-width: 0;
    font-size: 16px;
    font-weight: normal;
    border-radius: 5px;
    padding: 4px 14px;
    display: inline-block;
    color: white;
    text-align: center;
    cursor: pointer;
    letter-spacing: .025em;
    text-decoration: none;
    border: 0;
}

    .cancel-button:hover {
        background: #fc7c42 !important;
        background-color: #fc7c42 !important;
    }

    .cancel-button a {
        text-decoration: none;
    }

        .cancel-button a:hover {
            text-decoration: none;
        }

.t-button a {
    text-decoration: none;
}

    .t-button a:hover {
        text-decoration: none;
    }

.validation-summary-errors {
    background: #ed673e !important;
    border: 1px solid #ed673e !important;
    border-radius: 3px !important;
    color: #fff !important;
    width: 96% !important;
    padding: 0px !important;
    margin: 2% !important;
}

    .validation-summary-errors ul {
        margin: 2px !important;
    }

        .validation-summary-errors ul li {
            list-style-type: none !important;
            padding-left: 1%;
        }

.input-validation-error {
    border-color: #ed673e !important;
}

.printDiv {
    width: 16%;
    height: 100%;
}

.ttl {
    font-size: 20px;
    text-align: left;
    margin-bottom: 1%;
    margin-top: 1%;
}

.status {
    color: #FF4F00;
    font-size: 20px;
    text-align: center;
}

#msgBoard {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E8ECED;
}

.tdd .divRow {
    text-align: center;
    width: 98%;
    height: 50%;
    margin: 1%;
    /*display: -webkit-box !important;*/
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tabl {
    width: 100%;
    padding-left: 0 !important;
    margin-right: 2%;
    border: solid;
    border-width: 1px;
    border-color: #E8ECED;
}

.customEmail {
    width: 100%;
    border: solid;
    border-width: 1px;
    border-color: #E8ECED;
    padding: 10px;
    background-color: #f5f7f7;
    color: black;
}

.aEmail {
    text-decoration: none !important;
    width: 100%;
    white-space: pre-line;
}

.txtArea {
    width: 100%;
    min-width: 50px;
    height: 400px;
    padding-bottom: 30px;
    border-radius: 6px !important;
    border-color: #e8eced !important;
    border-width: 1px !important;
    border: solid;
    padding: 0px 0px 0px 0px !important;
}

.div.div.a {
    text-decoration: none;
}

    .div.div.a:hover {
        text-decoration: none;
    }

.divButton {
    float: right;
    padding-right: 2%;
    display: flex;
}

.msgContTitle {
    width: 100%;
    font-size: 16px;
    color: #000000;
}

#hidden {
    padding-top: 20px;
    display: none;
}

.divEmail {
    padding-bottom: 20px;
    width: 83%;
    padding-top: 20px;
}

.urlInp {
    font-size: 16px;
    height: 28px;
    border-radius: 6px;
    border-color: #e8eced !important;
    border-width: 1px !important;
    border: solid;
    padding: 0px 0px 0px 0px !important;
    width: 48%;
    background: #f5f7f7 !important;
}

.campUrl {
    font-size: 16px;
    height: 28px;
    border-radius: 6px;
    border-color: #e8eced !important;
    border-width: 1px !important;
    border: solid;
    padding: 0px 0px 0px 0px !important;
    width: 48%;
    border: solid;
    border-width: 1px;
    border-color: #FF4F00 !important;
}

.campUrlTitle {
    padding-top: 20px;
    font-size: 16px;
    color: #000000;
}

#campUrl {
    display: none;
    width: 87%;
}

.campTitle {
    width: 93%;
    float: right;
}

.printPreview {
    width: 6%;
    height: 100%;
}

.recipients {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #000000;
}

.emailAttr {
    padding-top: 30px;
    font-size: 16px;
    color: #000000;
}

#campaignName {
    padding-left: 1% !important;
    word-wrap: break-word;
}

#sentThisWeek {
    padding-left: 1% !important;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.a {
    text-decoration: none !important;
}

    .a:hover {
        text-decoration: none !important;
    }

    .a:focus {
        text-decoration: none !important;
    }

    .a:focus, a:hover {
        text-decoration: none !important;
    }

.msgFooterDiv {
    width: 90%;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flexDiv {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.exampleDiv {
     margin-left: 6%;
}
@media all and (max-width: 475px) {
    #campaignPrintRow {
        margin-bottom: 78% !important;
    }
}
@media all and (max-width: 380px) {
    .exampleDiv {
        margin-top: 25px;
        width: 47%;
        margin-left: 4%;
    }
}

@media all and (max-width: 300px) {
    #campaignPrintRow {
        margin-bottom: 93% !important;
    }
}
/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
    .flex-container {
        width: 100%;
        -moz-box-sizing: border-box;
    }
}

.wysihtml5-command-active{
        background-color: #c2c9cc !important;
    box-shadow: none !important;
}
.wysihtml5-action-active{
        background-color: #c2c9cc !important;
    box-shadow: none !important;
}
 .btn {
    background-color: #f5f7f7;
    border: 1px solid #e8eced !important;
    height: 2rem;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    width: 2rem;
    color: #6c7478 !important;
}
.btn[data-wysihtml5-command="italic"]:before {
    content: "\e628";
}
 .btn:before {
    display: block;
    font-family: ts-icon;
    font-size: .8rem;
    left: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: .5rem;
    width: 100%;
}

 .btn[data-wysihtml5-command="bold"]:before {
    content: "\e624";
}

.btn[data-wysihtml5-command="underline"]:before {
    content: "\e62b";
    font-size: .9rem;
    top: .45rem;
}

.btn[data-wysihtml5-command="createLink"]:before {
    content: "\e62a";
    font-size: .95rem;
    top: .4rem;
}

 .btn[data-wysihtml5-command="insertImage"]:before {
    content: "\e627";
    font-size: .95rem;
    top: .4rem;
}
  .btn[data-wysihtml5-action="change_view"]:before {
    content: "\html";
    font-size: .95rem;
    top: .3rem;
}
 
.wysihtml5-sandbox {
    height:400px !important;
}

.modWind {
    height: 230px !important;
}
.btn{
    font-weight: normal !important; 
}
.modal-buttons{
    margin-left:25%;
}
@media all and (max-width: 979px) {
    .modal-buttons{
    margin-left:30%;
}
}
#insertImg{
    overflow:hidden;
}
.error{
    color:red;
}
.modal {
    background: white;
    border: 1px solid #c2c9cc;
    padding: 0;
    position: fixed !important;
    top: 50% !important;
    border-radius: 8px;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 32rem;
    max-height: 100%;
    opacity: 1;
    outline: none;
    z-index: 9999;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.modWindow{
    height:300px;
}
td .button{
    background-color: rgba(155, 179, 108, 1.0) !important;
}
td .button:hover{
    background-color: rgba(155, 179, 108, 1.0) !important;
}
.modal{
    overflow-y:auto !important;
}
.switch__input:checked + .switch__el {
    background-color: #ff4f00 !important;
    box-shadow: inset 0 2px 3px #f8804a !important;
}
.div-table{
  display:table;         
  width:90%;    
      font-size: large;              
  border:1px solid  #eaeaea;   
  border-radius:4px;      
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
  display:table-row;
  border:1px solid  #666666;  
  width:auto;
  clear:both;
}
.div-table-header{
  display:table-row;
  width:auto;
  background-color:#eee;  
  clear:both;
}
.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:81%;         
}
.div-table-num{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:15%;          
}