@{
    Style.Include("Message.css");
}
<div class="block" style="width:100%; height:100%; float:right; padding-bottom:50%">
    <div style="color:#3b76d4; font-size:20px; text-align:center">Messages</div>
    <div style="width:90%; height:60px;padding-left:1%; padding-right:1%; margin-left:4%; margin-right:4%; height:14%; font-size:19px;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-top:3%; padding-bottom:3%; background-color:#ffffff; border:solid; border-width:2px;border-radius:3px; border-color:#E8ECED">Messages allow you to communicate with all your previous buyers via email. You can choose to message buyers of a particular campaign, or create a group of campaigns to message together – get started today!</div>
    <div class="tdd" style="width:92%; height:100%; margin:4%;  background-color:white; border:solid; border-width:1px; border-color:#E8ECED">
        <div class="divRow" style="width:100%; border-bottom:solid;border-bottom-width:1px; border-bottom-color:#E8ECED">
            <div class="divRow" style="width:98%; height:50%; margin:1%; display:flex;  margin-top:2%; ">
                <div style="width:16%; height:100%" class=" printDiv">Print</div>
                <div style="width:16%; height:100%" class=" row">Name</div>
                <div style="width:16%; height:100%" class=" row">Size</div>
                <div style="width:16%; height:100%" class=" row">Last Send</div>
                <div style="width:16%; height:100%" class=" row">Send This Week</div>
                <div style="width:16%; height:100%" class=" row"></div>
            </div>
        </div>
        <div class="divRow" style="width:98%; height:50%;   margin:1%; display:flex">
            <div style="width:16%; height:100%" class="row"><img style=" width: 40%; height: 100%;" src="http://d1b2zzpxewkr9z.cloudfront.net/images/products/apparel/product_type_1_front_small.png"></div>
            <div style="width:16%; height:100%" class="row"><a href="#">Campaign</a></div>
            <div style="width:16%; height:100%" class="row">10</div>
            <div style="width:16%; height:100%" class="row">3 days ago</div>
            <div style="width:16%; height:100%" class="row">2/3</div>
            <div style="width:16%; height:100%; align-content:center" class="row">
                <div>
                    <a href="~/Teeyoot/Message/CreateMessage">
                        <button class="t-button">Message</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
