
.inp_date {
    color: black;
    font-size: 20px;
    padding-right: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.titleOfCampaign {
    width:353px;
}

.URL {
    width:480px
}

.Goal{
    width:50px
}
.modWind {
    background-color: white;
    width: 560px;
    top: 25%;
    left: 35%;
    border: 1px solid #999;
    height: 20%;
    border-radius: 6px;
}

.loader {
    width: 100px;
    height: 100px;
    MARGIN-LEFT: -20px;
    position: absolute;
    margin-top: -1.9%;
}

.div-for-colors {
    width: 200px;
    position: relative;
    display: inline-block;
    margin-top: 12px;
    margin-left: 5px;
}

.div-color {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px #afafaf;
    border-style: dashed;
    margin-left: 5px;
    border-radius: 3px;
}

.div-color-active {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px #fff;
    border-style: solid;
    margin-left: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 1px #afafaf;
    cursor: pointer;
}

.div-color-active:hover{
    border-color: transparent;
}

.div-color-delete{
    position: relative;
    width: 14px;
    border: 1px solid rgba(255,255,255,0.5);
    height: 14px;
    background: red;
    color: white;
    border-radius: 100%;
    left: 12px;
    top: 12px;
    font-weight: bolder;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    display: table;
}

.designDrop {
    border-radius: 5px;
    background-color: white;
    width: 35px;
    height: 22px;
    margin-left: 10px;
    display: inline-block;
}

.swatch2 {
    width: 34px;
    height: 21px;
    border: 2px solid #fff;
    border-radius: 3px;
    background-image: url("/Media/Default/images/add_colors.png");
    box-shadow: 0px 0px 0px 1px #d8dddf;
    margin-bottom: 2px;
    -webkit-transition: background-color 400ms;
    transition: background-color 400ms;
    cursor: pointer;
}

.colors {
    top: 25%;
    left: 28%;
}