.ssp-ssp-metadata-and-col-pick {
    width: 185px;
    overflow: hidden;
}

.h6Sale {
    font-size: 0.8em;
    margin-left: 5px;
    margin-top: 11px;
    color: #ff4f00;
    font-weight: normal;
}

.price-calculator {
    height: auto;
}

.costH4Rm {
}

.costH4Float {
    margin-left: 10px;
    width: 68px;
    margin-right: 10px;
    text-align: center;
}

.costH4Text {
}

.profit {
    font-weight: 700 !important;
}

.profit-calculator {
}

.cost-calculator {
    border-bottom: 3px solid #afafaf;
    margin-left: -10px;
    padding-left: 10px;
}

.all-price-calculator {
    width: 310px;
}

.ssp_pricing_new {
    display: inline-flex !important;
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    height: auto;
    vertical-align: sub !important;
}

.profSale {
    height: 1.7em;
    margin-left: 10px;
    width: 65px !important;
    font-size: 1.077em !important;
    margin-right: 10px;
    line-height: 1.6em;
    padding: 0;
}


@media all and (max-width: 375px) {
    .ssp_delete {
        left: 130px;
    }

    .all-price-calculator {
        width: 270px;
    }

    .cost-calculator {
        margin-left: -5px;
        padding-left: 5px;
    }
}

@media all and (max-width: 375px) {
    .ssp_delete {
        left: 120px;
    }

    .slide-2__table > tr > td + td,
    .slide-2__table > tbody > tr > td + td {
        padding: 0 10px;
    }
}


.noUi-pips {
    font-size: 0.7rem !important;
    font-weight: 600 !important;
    color: #6c7478 !important;
}

.noUi-handle {
    background: #ff4f00 !important;
}

.noUi-base {
    background: #afafaf !important;
    height: 6px !important;
    border-radius: 5px !important;
}

.noUi-horizontal .noUi-handle {
    width: 17px !important;
    height: 17px !important;
    border-radius: 10px !important;
    top: -6px !important;
    border: 1px solid #ff4f00 !important;
    box-shadow: none !important;
    left: -9px !important;
}

.noUi-handle:after, .noUi-handle:before {
    background: none !important;
}

.noUi-horizontal {
    height: 5px !important;
}

.noUi-target {
    margin-top: 10px;
}