body {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
}
.big-banner{
    width: 100%;
    height: auto;
}
.logo{
    font-size:24px;
    color:#ffffff;
    /*padding:2px 20px 1px 20px;*/
    /*height: 56px;*/
}
.logo-title{
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
.logo img{
    height: 44px;
    margin-top: -11px;
}
.logo h1 {
    margin: 11px 0;
}
.logo a {
    color:#fff;
}
.logo a:hover {
    text-decoration:none;
}
.widget-mainSearch{
    height:44px;
}
.orchard-layouts-root{
    margin:0;
}
.logo-img-row, .logo-text-row{
    margin:0;
    height: 44px;
}
.tb-layout-header{
    height:44px;
    /*border-bottom: 1px solid #0000ff;*/
}
.tb-layout-before-main{
    margin-bottom: -80px;
}
.widget-createSearchButtons{
    position: relative;
    top: -120px;
}
.button-create-search-container{
    
}
.button-create-search-container button{
    background: #ff4f00;
    border-width:0;
    font-size: 16px;
    margin: 0 10px 10px 10px;
}
.button-create-search-container button:hover{
     background: #ff3700;
}
.button-create-search-container span{
    color:#ffffff;
    font-size: 16px;
}
.zone{
    padding:0;
}
.zone-before-main{
   
}
.zone-header{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex; 
    justify-content: center;
}
.tb-layout-main {

}
.tb-layout-content {
   
}
.tb-button{
    font-size: 14px;
    font-weight: normal;
    border-radius: 5px;
    padding: 6px 18px;
    display: inline-block;
    color: white;
    text-align: center;
    cursor: pointer;
    letter-spacing: .025em;
    background: #eee;
    height: 44px;
    width: 168px;
    text-decoration: none;
    border:0;
}
.tb-button:hover {
    background:#0606d3;
    
}
.tb-button-extra-large{
    font-size: 16px;
    padding: 6px 24px;
    width: 300px;
}
.tb-button-white {
    background-color:#fff;
    color:#ff4f00;
}
.tb-button-white:hover {
    background-color:#aaa;
    
}
.tb-button-default {
    background-color:#0000ff;
}
.tb-button-default:hover {
    background-color:#0606d3;
}
.tb-button-warning {
    background-color:#ff4f00;
}

.tb-search-form button{
    cursor: pointer;
    background: #fff;
    height: 44px;
    width: 30px;
    margin: 0;
    border-left-width: 0;
    border-width: 0;
    padding: 10px 0px;
}
.tb-search-form img {
    width: 70%;
}
.tb-search-form input[type=text] {
     height: 44px;
  width: 300px;
  float: left;
  border: 0;
  border-right-width: 0;
  font-size: 16px;
  padding: 0;
  padding-left: 10px;
}
.widget-anonimousMenu,
.widget-authenticatedMenu{
    padding: 11px;
}
@media all and (max-width: 1400px) {
    .tb-search-form input[type=text] {
        width: 250px;
    }
}
@media all and (max-width: 1300px) {
    .tb-search-form input[type=text] {
        width: 200px;
    }
    .get-started-button button,
    .get-started-button a { 
        padding: 7px 20px !important; 
    }
}
@media all and (max-width: 1200px) {
    .tb-search-form input[type=text] {
        width: 180px;
    }
    .widget-authenticatedMenu,
    .widget-anonimousMenu {
        padding-left: 0 !important;
    }
    .widget-getStartedButton {
        padding: 10px 0 10px 0 !important;
    }
    .widget-anonimousMenu nav ul li a,
    .widget-authenticatedMenu nav ul li a {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
@media all and (max-width: 1100px) {
    .tb-search-form input[type=text] {
        width:100px;
    }
}
@media all and (min-width: 1000px) {
    .widget-anonimousMenu nav ul,
    .widget-authenticatedMenu nav ul,
    .widget-anonimousMenu nav:active ul,
    .widget-authenticatedMenu nav:active ul {
        display: block !important;
    }
}
@media all and (max-width: 1000px) {
    .tb-search-form input[type=text] {
        width: 40% !important;
    }
    /*.widget-logo {
        width:150px !important;
    }*/
    .widget-mainSearch {
        width:50% !important;
    }

    header {
		/*position: absolute;*/
	}

	#menu-icon {
		display:inline-block !important;
	}
    
   
    /*.widget-anonimousMenu,
    .widget-authenticatedMenu {
        padding-top: 5px !important;
    }*/

	.widget-anonimousMenu nav ul, 
    .widget-authenticatedMenu nav ul,
    .widget-anonimousMenu nav:active ul,
    .widget-authenticatedMenu nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 3px solid #0000ff;
		right: 20px;
		top: 50px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
        z-index: 100;
	}

	.widget-anonimousMenu nav li,
    .widget-authenticatedMenu nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
}

@media all and (max-width: 750px) {
    .tb-search-form input[type=text] {
        width: 40% !important;
    }
    .widget-mainSearch {
        width:40% !important;
    }
}


@media all and (max-width: 620px) {
    .tb-search-form input[type=text] {
        width: 30% !important;
        font-size: 10px;
    }

    .widget-mainSearch {
        width: 30% !important;
    }

    .tb-search-form input[type=text] {
        width: 30% !important;
    }

    .tb-search-form img {
        width: 50%;
    }
    
    .tb-search-form input[type=text]::-webkit-input-placeholder  {color:transparent;}
    .tb-search-form input[type=text]::-moz-placeholder   {color:transparent;}
    .tb-search-form input[type=text]:-moz-placeholder   {color:transparent;}

    /*.logo-img {
        margin-left: -15px;
    }*/
}

#menu-icon {
	display: none;
    margin-top: -11px;
}

#menu-icon img {

   height:44px;
}


.widget-anonimousMenu ul,
.widget-authenticatedMenu ul{
      margin-left: 20px;
}
.widget-anonimousMenu ul li,
.widget-authenticatedMenu ul li{
      border:0;
      background-color:#fff;
      font-size:14px;
}
.widget-anonimousMenu ul li a,
.widget-authenticatedMenu ul li a{
    text-decoration: none;
}
.widget-anonimousMenu ul li a:hover,
.widget-authenticatedMenu ul li a:hover{
    text-decoration: none;
    color: #0000ff;
}
.widget-getStartedButton {
    padding:10px;
}
.get-started-button {
    position: relative;
    top: -5px;
}
.get-started-button button,
.get-started-button a {
    cursor: pointer;
    background: #0000ff; 
    margin: 0;
    padding: 7px 35px;
    color: #fff;
    font-weight: 700;
    border: 0;
    border-radius: 20px;
    margin-left:15px;
    line-height: 18px;
}

.get-started-button a:hover {
    color: #fff!important;
    background: #0606d3;
}
.tb-layout-main-container{
    
}
.aside-1 .tb-aside-first {
    float: left;
    width: 17.5%;
}
.aside-1 .tb-layout-content {
    margin: 0 auto;
    width: 65%;
}
.tb-layout-content {
    margin: 0 auto;
    width: 65%;
}
.widget-footerMenuLeft {
    float:left;
}
.widget-footerMenuRight {
    float:right;
}
.widget-footerMenuLeft ul,
.widget-footerMenuRight ul {
    padding:0px;
}
.widget-footerMenuLeft ul li,
.widget-footerMenuRight ul li {  
    float:none;
    padding: 10px 0;
    background-color: #0000ff;
    margin:0;
    border:0;
}
.widget-footerMenuLeft ul li a,
.widget-footerMenuRight ul li a {   
    float:none;
    color:#fff;
}
.widget-footerMenuLeft ul li a:hover,
.widget-footerMenuRight ul li a:hover {
    color:#5f97af;
    text-decoration: none
}
.widget-introductionVideo {
    background-color:#e8eced;
    padding: 20px;
}
.intro-video-container {
    background-color:#fff;
    padding:20px;
}
@media all and (max-width: 1400px) {
    .aside-1 .tb-layout-content {   
        margin-left: 16.8%;
        margin-right: 1%;
        width: 83%;
    }
    .tb-layout-content {   
        width: 75%;
    }
}
@media all and (max-width: 1200px) {
    .aside-1 .tb-layout-content {   
        margin-left: 16.8%;
        margin-right: 1%;
        width: 83%;
    }
    .tb-layout-content {   
        width: 90%;
    }
}
@media all and (max-width: 900px) {
    .intro-video-container .cell {
        float: none;
        padding-right:0;
    }
    .intro-video-container .span-6 {
        width:100%;
    }
    .home-page-review {
        padding-bottom:10px;
        width: 50% !important;
    }
}
@media all and (max-width: 750px) {   
    .aside-1 .tb-aside-first {
        float: none;
        width: 100%;
        text-align: center;       
    }
    .widget-LeftCommonMenu ul {
        padding-right:0;
    }
    .tb-layout-content {
        margin: 0;
        width: 100%;
    }
}

@media all and (max-width: 690px) {
    .home-page-review {
        padding-bottom:10px;
        width: 100% !important;
    }
}
.intro-video-text {
    padding: 20px;
}
.intro-video-text h3 {
    font-size: 26px;
    font-weight:500;
}
.intro-video-text p {
    font-size: 20px;
    color: #aaa;
}
   #featured-link{
        opacity: .5;
    }

    #featured-link:hover{
        opacity: 1;
    }
.list-brands > div {
    width: 20% !important;
}
@media all and (max-width: 1000px) {
    .list-brands > div {
        width: 33.33% !important;
    }
}
@media all and (max-width: 750px) {
    .list-brands > div {
        float:none;
        width:100% !important;
    }
}
.start-campaign-title {
    font-size: 22px;
    /*color: #ff4f00;*/
}
.start-steps-list {
    text-align: center;
    text-align:-webkit-center;
    text-align:-moz-center;
    text-align: -ms-center;
}
.shop-now-banner {
    background-color: #ff4f00; 
    padding: 10px 50px 0 50px;
    max-height: 200px;
}
.shop-now-image {
    text-align:right;
    text-align: -webkit-right;
    text-align: -moz-right;
    text-align: -ms-right;
    /*padding-top: 10px !important;*/
    overflow: hidden;
    max-height: 180px;
}
.shop-now-image img {
    max-width:100%;
}
.shop-now-title {
    color: #fff;
    font-size:26px;
    font-weight:300;
}
.shop-now-title button {
}
.home-page-review {
    width:25%;
    text-align: center;
    text-align:-webkit-center;
    text-align:-moz-center;
    text-align: -ms-center;
    border:0;
}
.widget-reviews {
    
}
.reviews-title {
    font-size: 22px;
}
.featured-campaigns-title {
    font-size: 22px;
}
.tb-layout-footer {
    background-color:#0000ff;
    padding: 20px;
}
.user-actions a{
     color:#fff!important;
}
.user-actions a:hover{
     color:#5f97af!important;
}
.tb-footer {
    width:65%;
    margin:0 auto;
}
.tb-footer-text{
    color:#fff;
}
@media all and (max-width: 1200px) {
    .tb-footer {   
        width: 83%;
    }
}
@media all and (max-width: 750px) {   
    .tb-footer {
        margin: 0;
        width: 100%;
    }
}
.tb-footer-quad-second {
    width: 25% !important;
    margin-bottom:25px;
}
.tb-footer-quad-third {
    width: 55% !important;
}
.tb-footer-quad-forth {
    width: 20% !important;
}
.credits {
    padding-left:17px;
    margin-bottom:25px;
}
@media all and (max-width: 1200px) {
    .tb-footer-quad-second {
        width: 28% !important;
    }
    .tb-footer-quad-third {
        width: 50% !important;
    }
    .tb-footer-quad-forth {
        width: 22% !important;
    }
}
@media all and (max-width: 900px) {
    .tb-footer-quad-second {
        width: 32% !important;
    }
    .tb-footer-quad-third {
        width: 240px !important;
    }
    .tb-footer-quad-forth {
        width: 22% !important;
    }
}
@media all and (max-width: 750px) { 
    .tb-footer-quad-second {
        width: 20% !important;
    }
    .tb-footer-quad-third {
        width: 50% !important;
    }
    .tb-footer-quad-forth {
        width: 30% !important;
    }  
    .widget-footerMenuLeft,
    .widget-footerMenuRight {
        float:none;
    }
}
@media all and (max-width: 550px) { 
    .tb-footer-quad-second {
        width: 30% !important;
    }
    .tb-footer-quad-third {
        width: 70% !important;
    }
    .tb-footer-quad-forth {
        width: 200px !important;
    }  
}
.widget-footerButtonGetStarted {
    text-align:center;
    padding-top: 8px;
}
.widget-footerButtonGetStarted button {
    background-color: transparent;
    border: solid 2px;
    width: 200px;
    font-size: 14px;
    margin-left: -50px;
}
.widget-footerButtonGetStarted button:hover {
    background-color: #0606d3;
}

.widget-listOfLanguages {
    text-align:right;
    padding-top: 9px;
}
.widget-listOfLanguages img {
    cursor:pointer
}
.widget-WizardMenu li {
    padding:10px;
    border:none;
}
.widget-WizardMenu li a{
    color:#808080;
    text-decoration: none;
}
.widget-WizardMenu li a:hover{
    font-weight:600;
    text-decoration: none;
}
.widget-WizardMenu li.current{
    border:none;
}
.widget-WizardMenu li.current a{
    color:#0000FF;
    border:none;
}
#layout-navigation{
    border:none;
}
.wizard-text{
    height:200px;
    background-color:#ff4f00;
}
.zone-featured {
   
}
.menu-wizard-design-next-button li a{
    text-decoration: none;
}
.menu-wizard-design-next-button li a:hover{
    text-decoration: none;
}
.menu-wizard-pricing-next-button li a{
    text-decoration: none;
}
.menu-wizard-pricing-next-button li a:hover{
    text-decoration: none;
}
.menu-wizard-details-launch-button li a{
    text-decoration: none;
}
.menu-wizard-details-launch-button li a:hover{
    text-decoration: none;
}
.widget-designNetxPageWidget {
    text-align: right;
}
.widget-pricingNextPageWidget {
    text-align: left;
}
.widget-detailsLaunchPageWidget{
    text-align: left;
}
.page-log-on{
    margin-top: 100px;
}

.progress-bar{
  background-color: #4bb232;
  height: 9px;
  width: 30%;
  margin-right: 1%;
  margin-left: 1%;      
}

.tee-preview {
  width: 30%;
  margin-right: 1%;
  margin-left: 1%;
  background-color: #e8eced;
  padding-top: 15px;
  height: 280px;
}
.preview-img{
    text-align: center !important;
}
.preview-img img{
    width: 60%;
    height: 60%;

}
.featured-campaigns-list{
    margin-bottom: 0;
}

.campaigns-text{
    padding-left: 12px !important;
    width: 32% !important;
}
.campaigns-text h3{
    font-size: 15px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #6c7478;
}
.campaigns-text h1{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #0000ff;
    line-height: 1.2;
}
    .campaigns-text h1:hover {
        color: #1c26bf;
        text-decoration: underline;
    }

@media all and (max-width: 1700px) {
   .tee-preview {

  height: 270px;
}
}
@media all and (max-width: 1550px) {
   .tee-preview {

  height: 250px;
}
}
@media all and (max-width: 1450px) {
    .tee-preview {
        height: 255px;
    }
}
    @media all and (max-width: 1050px) {
        .tee-preview {
            height: 230px;
        }
    }

    @media all and (max-width: 930px) {
        .tee-preview {
            height: 210px;
        }
    }

    @media  all and (max-width: 800px) {
        .tee-preview {
            height: 190px;
        }
    }

    @media  all and (max-width: 640px) {
        .tee-preview {
            height: 170px;
        }
    }

    @media  all and (max-width: 620px) {
        .tee-preview {
            height: 150px;
        }
    }

    @media  all and (max-width: 550px) {
        .tee-preview {
            height: 130px;
        }
    }

    @media  all and (max-width: 450px) {
        .tee-preview {
            height: 110px;
        }
    }

    .row-campaigns {
        margin-bottom: 0;
    }

.user-display .welcome {
  color: #fff;
}