.dashboard-layout {
    height: 100%;
}

    .dashboard-layout .tb-layout-main-container {
        width: 100%;
        height: 100%;
        font-size: 0;
        display: table;
        max-width: none;
        min-height: 100%;
        max-width: 1236px;
        background-color: #f5f7f7;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .dashboard-layout .tb-aside-first {
        float: none;
        width: 20%;
        font-size: 16px;
        padding: 0 0 246px;
        position: relative;
        vertical-align: top;
        display: table-cell;
        background-color: #fff;
        transition: padding 400ms;
        border-top: solid 1px #f5f7f7;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        border-right: 1px solid #e8eced;
    }

    .dashboard-layout .tb-layout-content {
        margin: 0;
        width: 100%;
        height: 100%;
        font-size: 15px;
        vertical-align: top;
        display: inline-block;
        padding: 30px 30px 30px 30px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .dashboard-layout .tb-layout-content #content {
        height: 100%;
    }


.widget-SellerDashboardMenu ul {
}

    .widget-SellerDashboardMenu ul li {
        margin: 0;
        border: 0;
        float: none;
        background-color: #fff;

    }

        .widget-SellerDashboardMenu ul li a {
            float: none;
            color: #6e6e6e;
            padding: 15px 15px 15px 25px;
        }

        .widget-SellerDashboardMenu ul li span {
            bottom: 6px;
            position: relative;
        }

        .widget-SellerDashboardMenu ul li i {
            width: 45px;
        }

        .widget-SellerDashboardMenu ul li a:hover {
            color: #e64700;
            text-decoration: none;
        }

.widget-SellerDashboardMenu .current a {
    color: #e64700;
}

.widget-SellerDashboardMenu li.first {
    padding-top: 30px;
}

.widget-SellerDashboardMenu li.last {
    padding-bottom: 30px;
}

.dashboard-section-title {
    font-size: 20px;
    padding-bottom:15px;
}

.box {
    border-radius: 3px;
    margin-bottom: 30px;
    border: solid 1px #e8eced;
    background-color: #ffffff;
}

.box-header {
    padding: 15px 0 15px 20px;
    border-bottom: solid 1px #e8eced;
}
.box-header-title {
    font-size: 20px;
}

.collapse-button {
    width: 100%;
    color: #000;
    bottom: 10px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    line-height: 30px;
    position: absolute;
    padding: 0 0 0 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.collapse-button:hover {
    color: #e64700;
}

.collapse-button.fixed {
    top: initial;
    position: fixed;
}
    .collapse-button span {
        bottom: 4px;
        font-weight: 600;
        margin-left: 10px;
        position: relative;
    }
.hidden {
    display: none !important;
}
.dashboard-layout .tb-aside-first.menu-closed {
    padding-right:0;
    transition: padding 400ms;
}
.dashboard-layout .tb-aside-first.menu-closed span.to-hide-on-click {
    display: none;
}
.menu-opener,
.menu-closer {
    display:none;
    cursor:pointer;
}
.menu-closer.shown {
    display: inline !important;
}


@media screen and (max-width: 750px) {
    .dashboard-layout .tb-aside-first .menu li a {
        padding: 15px;
        
    }
    .dashboard-layout .tb-aside-first .menu li a span {
        font-size: 0;
    }
    .collapse-button {
        display: none;
    }
}