@{
    Style.Include("AdminOrders.css");
}



<fieldset>
    <table class="items">
        <thead>
            <tr class="admin-categories">
                <th class="publicId">
                    <h3>Order Number</h3>
                </th>
                <th class="status">
                    <h3>Status</h3>
                </th>
                <th class="buyer">
                    <h3>Buyer</h3>
                </th>
                <th class="seller">
                    <h3>Seller</h3>
                </th>
                <th class="profit">
                    <h3>Profit</h3>
                </th>
                <th class="payout">
                    <h3>Payout</h3>
                </th>
            </tr>
        </thead>

        <tbody>
          
        </tbody>
    </table>

</fieldset>



