.tb-return-result {
    width: 100%;
    padding: 0px;
    padding-top: 20px;
}

/*.tb-return-result .row .tee-preview-search:first-of-type {
        padding-right: 15px !important;
    }

    .tb-return-result .row .tee-preview-search:last-of-type {
        padding-right: 10px !important;
    }

    .tb-return-result .row .campaigns-sold-search:first-of-type,
    .tb-return-result .row .campaigns-sold-search:last-of-type {
        padding-right: 0px !important;
    }*/

.tee-preview-search {
    margin-right: 1%;
    padding-top: 15px;
    height: 280px;
    width: 22% !important;
    text-align: center !important;
    margin-left: 2%;
}

    .tee-preview-search img {
        width: 80%;
        height: 70%;
    }

.progress-bar-result {
    background-color: #ff4f00;
    height: 9px;
    border-radius: 5px;
    float: left;
}

.progress-bar-search {
    background-color: #e8eced;
    height: 9px;
    border-radius: 5px;
    width: 100%;
}

.campaigns-sold-search {
    width: 100% !important;
    margin: 0;
    padding: 0 !important;
}

    .campaigns-sold-search .sold-left {
        color: #c2c9cc;
        display: block;
        float: left;
        font-size: 14px;
        /*line-height: 1.5;*/
        /*margin-left: 20px;*/
        text-align: left;
    }

    .campaigns-sold-search .days-right {
        color: #c2c9cc;
        border: none;
        float: right;
        font-size: 14px;
        text-align: right;
    }

.row-campaigns-search {
    margin-bottom: 10px !important;
}

.campaigns-text-search {
    width: 100% !important;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0px !important;
    padding-left: 0px !important;
    font-size: 15px;
    font-weight: 600;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .campaigns-text-search a {
        text-decoration: none;
    }

        .campaigns-text-search a:hover {
            text-decoration: none;
            color: #5763BB;
        }

.preview-img {
    background-color: #ffffff !important;
}

.tee-preview {
    width: 22% !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2% !important;
    margin-right: 1% !important;
}

    .tee-preview:nth-child(3) {
        /*margin-right: 2% !important;*/
        padding-right: 10px !important;
    }

    .tee-preview:nth-child(4) {
        padding-left: 10px !important;
    }

.categories-row {
    width: 100%;
    margin: 0px 0 10px 0 !important;
    display: inline-block !important;
}

    .categories-row .title-categories {
        /*display: table-caption;*/
        margin: 0 auto;
        text-align: center;
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: -ms-center;
        margin-top: 40px;
        width: 100%;
    }

    .categories-row .categories {
        display: flex !important;
    }

.menu-tags {
    display: block !important;
    list-style-type: none !important;
}

    .menu-tags li {
        margin: 0 14px 15px 0px !important;
        display: inline-block;
        padding: 5px 10px;
    }

.tb-layout-footer {
    margin-top: 50px;
}

.product-price {
    position: absolute;
    float: left;
    margin-top: px;
    width: auto;
    text-align: -webkit-left;
    border: solid 1px #e8eced;
    background: #e8eced;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: 12px;
}

#loading {
    width: 100%;
    text-align: -webkit-center;
    margin: 0 auto;
}

@media all and (min-width: 1700px) {
    .tee-preview img,
    .tee-preview:first-child img,
    .tee-preview:last-child img {
        height: 212px !important;
    }
}

@media all and (max-width: 1000px) {
    .tb-return-result {
        padding: 0;
    }

    .tee-preview,
    .tee-preview:nth-child(2),
    .tee-preview:nth-child(3),
    .tee-preview:nth-child(4) {
        width: 46% !important;
        float: left !important;
    }

        .tee-preview img,
        .tee-preview:first-child img,
        .tee-preview:last-child img {
            height: 300px !important;
        }
}

@media all and (max-width: 800px) {
    .tee-preview img,
    .tee-preview:first-child img,
    .tee-preview:last-child img {
        height: 280px !important;
    }
}

@media all and (max-width: 700px) {
    .tee-preview img,
    .tee-preview:first-child img,
    .tee-preview:last-child img {
        height: 250px !important;
    }
}

@media all and (max-width: 650px) {
    .tee-preview img,
    .tee-preview:first-child img,
    .tee-preview:last-child img {
        height: 220px !important;
    }
}

@media all and (max-width: 580px) {
    .tee-preview img,
    .tee-preview:first-child img,
    .tee-preview:last-child img {
        height: 200px !important;
    }
}

@media all and (max-width: 500px) {
    .tee-preview img,
    .tee-preview:first-child img,
    .tee-preview:last-child img {
        height: 180px !important;
    }
}

@media all and (max-width: 450px) {
    .tee-preview img,
    .tee-preview:first-child img,
    .tee-preview:last-child img {
        height: 160px !important;
    }
}

@media all and (max-width: 400px) {
    .tee-preview img,
    .tee-preview:first-child img,
    .tee-preview:last-child img {
        height: 140px !important;
    }
}




  /*.demo img { 
    left: 0; 
    position:absolute; 
    top: 0; 
}*/

  .preview-img img.raz {opacity:0;filter:alpha(opacity=0);}
  .preview-img:hover img.raz {opacity:1;filter:alpha(opacity=100);}
  .preview-img:hover img.dva, .demo img.dva:hover {opacity:0;filter:alpha(opacity=0);}
    
.preview-img img {
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}


.items .admin-categories-tr .visible{
    font-size: 14px;
}

.items .admin-categories-tr .name a {
    font-size: 16px;
}

.items tr td {
    width: 25%;
}
.items tr td:last-child{
    text-align: end;
}

.admin-categories-menu {
    margin-bottom: 40px;
}
.admin-categories-menu .left-box {
    float: left;
}
.admin-categories-menu .right-box {
    float: right;
}
