body {
}

.zone-content {
    margin-top: -24px !important;
}

nav > ul li.current {
    border-bottom: none !important;
    background: none !important;
}

.tb-layout-main-container {
    max-width: none !important;
}

.tb-layout-content {
    margin: 0 !important;
}

.tb-layout-content {
    width: 100% !important;
}

.top-faq-banner {
    background: url("images/faq.png") repeat-x;
    height: 160px;
    opacity: .8;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 40px;
}

.search-faq-text {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 1px #8BB9D1;
    display: block;
    font-weight: bold;
    font-size: 32px;
    padding-top: 15px;
    margin: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.search-faq-place {
    text-align: center;
}

#btn-faq {
    color: #fff;
    background: #fff;
    border: #fff;
    margin: 0 !important;
    padding: 0 !important;
}

    #btn-faq img {
        height: 28px;
        position: absolute;
        margin-left: -60px;
        margin-top: -18px;
        opacity: .5;
    }

        #btn-faq img:hover {
            opacity: 1;
        }

input[type="text"], input[type="password"] {
    display: inherit !important;
}

.search-faq-input {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    width: 40%;
    height: 45px;
    font-size: 18px;
    font-weight: 100;
    color: #525252;
    padding-left: 30px !important;
    background-color: #fff;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid #ccc;
    border-radius: 40px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.section {
    width: 46%;
    margin: 0;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #ff4f00;
    text-transform: uppercase;
    font-weight: 600;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    font-size: 24px;
    padding-top: 10px;
}

.text-area {
    width: 70%;
    margin: 0 auto;
    max-width: 1236px;
}

.section-name {
    padding-bottom: 26px;
    margin-bottom: 26px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 17px;
    border-bottom: 2px solid #e1e1e1;
    text-transform: uppercase;
    font-weight: 600;
    text-overflow: ellipsis;
    word-wrap: break-word;
    /*white-space: nowrap;*/
    overflow: hidden;
}

    .section-name a {
        text-decoration: none;
    }

        .section-name a:hover {
            text-decoration: none;
            color: #f78027;
        }

.search-results {
    padding-bottom: 26px;
    margin-bottom: 26px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 20px;
    text-transform: none;
    font-weight: 600;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.img-found img {
    width: 24px;
    margin-bottom: -5px;
    opacity: .7;
}

.faq-question {
    color: #6c7478;
    text-decoration: none;
    font-size: 17px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

    .faq-question:hover {
        color: #ff4f00;
        text-decoration: none;
    }

.section ul {
    margin: 7px;
    padding: 0;
    margin-bottom: 30px !important;
}

    .section ul li {
        padding: 0px;
        margin: 1em;
        border-bottom: none;
        list-style-type: none;
        margin: 0;
        padding: 5px;
        text-transform: none;
    }

a.btn.btn-pill span {
    color: #3498db;
    border-right: 2px solid #eaeaea;
    padding-right: 10px;
    font-weight: 600;
    -webkit-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    transition: ease all 0.5s;
}


a.btn.btn-pill {
    font-size: 14px;
    font-weight: 600;
    background: none;
    border: 2px solid #e1e1e1;
    color: #6c7478;
    padding: 7px 16px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    transition: ease all 0.5s;
    text-decoration: none !important;
    text-transform: none;
}

a.btn.btn-pill {
    color: #A8A8A8;
    border: 1px solid #A8A8A8;
    margin-bottom: 30px;
}

    a.btn.btn-pill:hover {
        color: #ff4f00 !important;
    }

    a.btn.btn-pill span:hover {
        color: #ff4f00;
        border-right: 2px solid #ff4f00;
    }

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.64;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content a.btn.btn-pill:hover span, #content a.btn.btn-pill:hover span, #content a.btn.btn-pill:hover {
    border-color: #ff4f00;
}

a.btn.btn-pill > span {
    color: #A8A8A8;
}


@media all and (max-width: 1450px) {
    .text-area {
        width: 80%;
    }

    .search-faq-input {
        width: 50%;
    }
    .ui-autocomplete {
    width: 50%;
}
}

@media all and (max-width: 1300px) {
    .section {
        width: 45%;
    }
}

@media all and (max-width: 1215px) {

    .text-area {
        width: 90%;
    }
}

@media all and (max-width: 1135px) {
    .section {
        width: 45%;
    }

    .search-faq-input {
        font-size: 14px !important;
    }
}

@media all and (max-width: 1000px) {
    .section {
        width: 100%;
    }
}

@media all and (max-width: 775px) {
    .search-faq-input {
        width: 60% !important;
    }

    .ui-autocomplete {
        width: 60% ;
    }
}

@media all and (max-width: 650px) {
    .search-faq-input {
        width: 70% !important;
    }

    .ui-autocomplete {
        width: 70% ;
    }

    #btn-faq img {
        height: 20px;
        margin-left: -50px;
        margin-top: -14px;
    }
}

@media all and (max-width: 560px) {

    .search-faq-input {
        width: 60% !important;
        height: 35px;
    }

    .ui-autocomplete {
        width: 60% ;
    }

    .search-faq-text {
        font-size: 24px;
    }

    .search-faq-place input[type=text]::-webkit-input-placeholder {
        color: transparent;
    }

    .search-faq-place input[type=text]::-moz-placeholder {
        color: transparent;
    }

    .search-faq-place input[type=text]:-moz-placeholder {
        color: transparent;
    }
}

.question-topic {
    margin: 0px;
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1;
    color: #585858;
    ;
    margin-bottom: 46px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.answer-topic {
    font-size: 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin-bottom: 46px;
}

.faq-nav-div {
    margin-bottom: 46px;
}

.faq-navigation {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #A8A8A8;
    text-decoration: none;
}

    .faq-navigation:hover {
        color: #ff4f00;
        text-decoration: none;
    }

    .faq-navigation a {
        text-decoration: none !important;
    }

.faq-current-navigation {
    color: #6c7478;
}

    .faq-current-navigation:hover {
        color: #6c7478 !important;
    }

.answer-topic-sec {
    color: #ff4f00;
}

.answer-topic-short {
    text-transform: none !important;
    color: #A8A8A8;
}

.question-sec {
    border-bottom: 0;
    text-transform: none;
    font-size: 20px;
    color: #ff4f00;
    margin-bottom: 0px;
}

    .question-sec a:hover {
        color: #f78027;
    }

.question-search {
    border-bottom: 0;
    text-transform: none;
    font-size: 20px;
    color: #585858;
    margin-bottom: 0px;
    text-transform: none !important;
}

    .question-search a:hover {
        color: #ff4f00;
    }

.btn-read-article {
    margin-top: 10px;
}

    .btn-read-article a.btn.btn-pill span {
        border-right: none !important;
        padding-right: 0;
    }

.answer {
    padding-bottom: 26px;
    /*height: 50px;*/
    font-weight: 600;
    text-overflow: ellipsis;
    word-wrap: break-word;
    /*white-space: nowrap;*/
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 0;
}

.question-sec a {
    text-decoration: none;
}

    .question-sec a:hover {
        text-decoration: none;
    }

    .question-sec a:active {
        text-decoration: none;
    }

.entries-count {
    margin-left: 10px;
}


/*#searchFaq:focus {
    color:#ff4f00!important;

}*/

.ui-autocomplete {
    width: 42% ;
}

.ui-menu-item div {
    color: #585858;
    line-height: 1.1;
    box-sizing: border-box;
    zoom: 1;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 1.1em;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 110px;
    overflow: hidden;
}

.ui-menu-item:hover {
    background: #f78027;
}

.ui-menu-item div:hover {
    background-color: #f78027;
}

.autocomplete-question {
    color: #ff4f00 !important;
    line-height: 1.5 !important;
}

/*.ui-state-focus:hover {
    background-color: #ff4f00!important;
}*/
@media all and (max-width: 333px) {
    .faq-img-24 {
        width: 100%;
    }
}
@media all and (max-width: 414px) {
    .faq-img-23 {
        width: 100%;
    }
}
@media all and (max-width: 457px) {
    .faq-img-22 {
        width: 100%;
    }
}
@media all and (max-width: 538px) {
    .faq-img-21 {
        width: 100%;
    }
}
@media all and (max-width: 587px) {
    .faq-img-20 {
        width: 100%;
    }
}
@media all and (max-width: 648px) {
    .faq-img-19 {
        width: 100%;
    }
}
@media all and (max-width: 684px) {
    .faq-img-18 {
        width: 100%;
    }
}
@media all and (max-width: 704px) {
    .faq-img-17 {
        width: 100%;
    }
}
@media all and (max-width: 744px) {
    .faq-img-16 {
        width: 100%;
    }
}
@media all and (max-width: 807px) {
    .faq-img-15 {
        width: 100%;
    }
}
@media all and (max-width: 899px) {
    .faq-img-14 {
        width: 100%;
    }
}
@media all and (max-width: 946px) {
    .faq-img-13 {
        width: 100%;
    }
}
@media all and (max-width: 960px) {
    .faq-img-12 {
        width: 100%;
    }
}
@media all and (max-width: 1055px) {
    .faq-img-11 {
        width: 100%;
    }
}
@media all and (max-width: 1089px) {
    .faq-img-10 {
        width: 100%;
    }
}
@media all and (max-width: 1129px) {
    .faq-img-9 {
        width: 100%;
    }
}
@media all and (max-width: 1155px) {
    .faq-img-8 {
        width: 100%;
    }
}
@media all and (max-width: 1213px) {
    .faq-img-7 {
        width: 100%;
    }
}
@media all and (max-width: 1254px) {
    .faq-img-6 {
        width: 100%;
    }
}
@media all and (max-width: 1351px) {
    .faq-img-5 {
        width: 100%;
    }
}
@media all and (max-width: 1451px) {
    .faq-img-4 {
        width: 100%;
    }
}
@media all and (max-width: 1624px) {
    .faq-img-3 {
        width: 100%;
    }
}
@media all and (max-width: 1687px) {
    .faq-img-2 {
        width: 100%;
    }
}
@media all and (max-width: 1869px) {
    .faq-img-1 {
        width: 100%;
    }
}